<<<<<<< HEAD
﻿@model SalesWebMvc.Models.ViewModels.ErrorViewModel
=======
﻿model ErrorViewModel
>>>>>>> 70a8acc28934ef667f484421a44b3fa702c48a1c
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">@Model.Message</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}


